.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

.parallax {
  /* The image used */
  background-image: url("../img/home/background.svg");

  /* Set a specific height */
  min-height: 85vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* text-styles */

.titles{
  font-size: 75px;
  color: white;
  text-align: center;
  padding: 1.25rem;
}

.subtext{
  font-size: 30px;
}

.small-titles{
  font-size: 20px;
  color: white;
  text-align: center;
}

.small-subtext{
  font-size: 15px;
  color: white;
}

/* my work */
.big-card{
  max-width: 24rem; /* 384px */
  padding: 1.5rem;
  background-color: white;
  border-width: 1px;
  border-color: rgb(229 231 235);
  border-radius: 0.5rem;
}

.small-card{
  max-width: 15rem;
  padding: 0.75rem;
  background-color: white;
  border-width: .5px;
  border-color: rgb(229 231 235);
  border-radius: 0.25rem;
}