section {
  margin-left: 5%;
}

.freckle-face-regular {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
}

.parallax {
  /* The image used */
  background-image: url("../img/home/background.svg");

  /* Set a specific height */
  min-height: 85vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}


.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* text-styles */

.titles {
  font-size: 75px;
  color: white;
  text-align: center;
  padding: 1.25rem;
}

.subtext {
  font-size: 30px;
}

.small-titles {
  font-size: 20px;
  color: white;
  text-align: center;
}

.small-subtext {
  font-size: 15px;
  color: white;
}

.active{
  background-color: #767676;
  border-color: black  !important;
}

/* my work */
.modal {
  display: none;
  top: 10vh;
  background-color: grey;
  position: absolute;
  height: 56vh;
  width: 50%;
  border-radius: 20px;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.modal-img {
  display: flex;
  justify-content: center;
}

.modal-text{

}

.modal-download{
  position: absolute;
  bottom: 0;
  left: 2%;
}